[submodule "src/zig-okredis"]
	path = src/zig-okredis
	url = https://github.com/kristoff-it/zig-okredis.git
[submodule "src/zig-spoon"]
	path = src/zig-spoon
	url = https://git.sr.ht/~leon_plickat/zig-spoon
[submodule "src/src/zig-args"]
	path = src/src/zig-args
	url = https://github.com/MasterQ32/zig-args.git
[submodule "src/zig-args"]
	path = src/zig-args
	url = https://github.com/MasterQ32/zig-args.git
